	<body>
		<div class="container">
			<p>Name: <%= @solar_system.name %></p>
			<p>Diameter: <%= @solar_system.diameter %></p>
			<p><img src="<%= @solar_system.image_url %>"></p>
			<% if @solar_system.moons.present? %>
				<p>Moons: <% @solar_system.moons.each do |moon| %>
							<%= moon.name %> 
					<% end %></p>
				<% end %>
		</div>
	</body>