Add a New Video
<form method='post' action='/create'> 
	<textarea  type='text' name='title' placeholder="Video Title" autofocus></textarea>
	<br>
	<textarea  type='text' name='description' placeholder="Description"></textarea>
	<br>
	<textarea type='text' name='url' placeholder="URL"></textarea>
	<br>
	<textarea type='text' name='genre' placeholder="Genre"></textarea>
	<br>
	<button>Add Video</button>
</form>