<div>
<section>
  <br>
<div class="image_home"><img src="https://sphotos-a.xx.fbcdn.net/hphotos-ash3/546223_10100575142436796_1982147874_n.jpg" ></a></div>
<div id="home_text">
<h2>Alex Davidow</h2>
<h3>Adventurer, Developer, Glutton</h3>
<div class="image_home"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/575840_10100634288008596_299538179_n.jpg" ></a></div>
</div>
</section>
</div>