<div class="hero-unit">
<form action='/create' method='post'>
	<fieldset>
		<br>
		<input class="input-large"  type='text' name='name' placeholder= "Full Name" autofocus>
		<br>
		<input class="input-large"  type='text' name='age' placeholder= "Age">
		<br>
		<input class="input-large" type='text' name='gender' placeholder= "Gender">
		<br>
		<textarea class="input-large"  type='text' name='image' placeholder= "Picture URL"></textarea>
		<br>
		<textarea class="input-large" type='text' name='twitter' placeholder= "Twitter URL"></textarea>
		<br>
		<textarea class="input-large" type='text' name='github' placeholder= "Github URL"></textarea>
		<br>
		<textarea class="input-large" type='text' name='facebook' placeholder= "Facebook URL"></textarea>
		<br>
		<button>Add All the Deets For My Friend!</button>
	</fieldset>
</form>
</div>